/*
Couples Resort Responsive Build
4 column grid as per XD file
*/

/* 
    CSS Guide 

    1.  General Styles
    2.  Main Nav
    3.  Main Hero Image
    4.  Main Hero Image Contact
    5.  Why Couples Resort
    6.  About & FAQ
    7.  Contact Form
    8.  Footer 
 */

/* INDEX.HTML */

/* * {
   outline: 1px red solid;
} */


/* 1. ---General Styles--- */


 #mobile-outline {
   outline: 20px solid #333;
   max-width: 412px;
   margin: 20px auto 20px auto;
   border-radius: 10px;
} 

body {
   color: #626262;
   font-family: 'Sanchez', 'Times New Roman', serif;
}

a {
   text-decoration: none;
   transition: all .5s ease-in-out;
}

input, button, textarea {
   display: block;
   margin: 0;
   padding: 0;
}

.cr-red {
   color: #9a2018;
}

.line-separator {
   margin-top: 20px;
   border-top: solid 3px #CF6666;
   padding-top: 20px;
}

/*   webpage middle menu   */

#middle-menu-nav {
   padding-top: 20px;
}

#middle-menu-nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
}
#middle-menu-nav ul li {
   margin-bottom: 15px;
}

#middle-menu-nav ul li a {
  color: inherit;
  padding: 5px;
}

#middle-menu-nav ul li a.selected {
   border-left: #9a2018 solid 5px;
 }

#middle-menu-nav ul li a:hover {
   border-left: #9a2018 solid 5px;
   transition: all 10ms ease;
}

/*   webpage lists   */

#hoverlist-con {
   padding-top: 35px;
   padding-bottom: 30px;
}

.hoverlist-items {
   margin-bottom: 16px;
}

.hoverlist-items h3 {
   color: #9a2018;
   padding: 16px 0;
   font-size: 16px;
}

.hoverlist-items ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.hoverlist-items li {
   padding: 8px 0;
   border-bottom: 1px solid #9a2018;
   color: inherit;
   font-size: 13px;
}

.hoverlist-items li:hover {
   font-weight: 600;
}

#hoverlist-text-con {
   margin-top: 20px;
   margin-bottom: 20px;
}


/* 2. ---Main Nav--- */


 #main-nav label img {
   width: 20px;
   height: 20px;
   margin-top: 15px;
   cursor: pointer;
   transition: all .5s ease;
   margin-bottom: 20px; 
} 

#main-nav input, #burger-con {
   display: none;
}

/*   ~ sibling selector   */


#main-nav input:checked ~ #burger-con {
   display: block;
}

#main-nav input:checked ~ label img {
   transform: rotate(90deg);
}

#main-nav ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

#main-nav ul li a {
   display: block;
   padding: 10px 0 10px 0;
   text-align: center;
   color: #626262;
   transition: background-color 0s;
}

#main-nav ul li a:hover {
   background-color: #9a2018;
   color: #fff;
}

#main-nav ul li {
   border-bottom: 1px solid #efefef;
}


#main-nav ul li:first-child {
   border-top: 1px solid #efefef;
}

#main-nav ul li:last-child {
   margin-bottom: 10px;
} 


#logo {
   margin-bottom: 20px;
   max-width: 382px;
}

header img:hover {
   transform: scale(1.01);
}


/* 3. ---Main Hero Image--- */

#index-hero {
   background: url(../images/hero-main.jpg) no-repeat;
   height: 200px;
}

.book-now {
   background-color: #9a2018;
   color: #fff;
   font-size: 16px;
   transition: background-color 500ms linear;
   display: flex;
   justify-content: center;
   align-items: center;
   font-style: italic;
   transition:all 0.3s ease;
   cursor: pointer;
}

.book-now:hover {
   background-color: rgb(196, 28, 28);
}

#book-now-hero {
   height: 67px;
}

#hero-heading-box {
   align-self: end;
}

.hero-img-h2, .hero-img-h3 {
   background: rgb(255, 255, 255);
   padding: 10px 15px;
   font-size: 14px;
}

.hero-img-h2 span,  .hero-img-h3 span {
   color: #9a2018;
   font-size: 12px;
}

#hero-summary p {
   font-size: 14px;
   line-height: 22px;
   margin-bottom: 20px;
}

/* 4. ---Main Hero Image Contact--- */

.fas {
   font-size: 42px;
   color: #9a2018;
   margin: 0 auto;
   float: left;
}

.fa-mobile-alt {
   margin-right: 10px;
   margin-left: 3px;
   margin-bottom: 20px;
}

.fa-map-marker-alt {
   margin-right: 10px;
}

#contact {
   font-size: 11px;
   background-color: #efefef;
   padding-top: 30px;
   padding-bottom: 30px;
}

/* 5. ---Why Choose Us--- */

#why-choose-us-hero-con {
  background: url(../images/why-choose-us-hero.jpg) no-repeat;
  height: 195px;
}

#why-choose-us-heading-box {
   align-self: end;
}

.why-choose-us-image {
   float: left;
   margin-right: 20px;
   margin-top: 30px;
}

.why-choose-us-image-con h2 {
   font-size: 14px;
   margin-bottom: 20px;
   margin-top: 30px;
}

.why-choose-us-image-con p {
   font-size: 12px;
   margin-bottom: 20px;
   line-height: 20px;
}

.why-choose-us-image-con a {
   color: #707070;
   font-size: 12px;
}

 #why-choose-us-bottom-nav {
   background-color: #CF6666;
   padding: 10px;
   margin-top: 20px;
   margin-bottom: 30px;
}

#why-choose-us-bottom-nav ol {
   list-style-type: none;
   margin: 0 auto;
   padding: 0;
   text-align: center;
}

#why-choose-us-bottom-nav ol li {
   display: inline;
}

#why-choose-us-bottom-nav ol li a {
   padding: 10px;
   color: #fff;
}



/* 6. ---About & FAQ--- */

#about-hero-con {
   background: url(../images/about-us-hero.jpg) no-repeat;
   height: 195px;
}

#about-hero-heading-box {
   align-self: end;
}

#about-us-text {
   padding-bottom: 60px;
}

#about-us-text p {
   font-size: 14px;
   margin-bottom: 20px;
   line-height: 22px;
}

#about-us-text-column2 {
   font-style: italic;
}

#faq-con {
   background-color: #f4f4f4;
   padding-top: 35px;
   padding-bottom: 30px;
}

#faq-con h2 {
   font-size: 24px;
   margin-bottom: 20px;
}

#faq-con h2 span {
   color: #9a2018;
   font-size: 16px;
}

.faq-items {
   margin-bottom: 16px;
}

.faq-items h3 {
   background: #e8e7e7;
   padding: 16px;
   font-size: 16px;
}

.faq-items ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.faq-items li {
   padding: 8px 0;
   border-bottom: 1px solid #9a2018;
}   

.faq-items a {
   color: inherit;
   font-size: 13px;
}

#faq-text-con {
   margin-top: 20px;
   margin-bottom: 20px;
}

/* 7. ---Contact--- */

#contact-msg {
   background-color: #CF6666;
   color: #fff;
   font-size: 13px;
   padding: 40px 15px;
   text-align: center;
}

#contact-hero-con {
   background: url(../images/contact-hero.jpg);
   height: 195px;
}

#contact-hero-heading-box {
   align-self: end;
}

#contact-hero-text {
   margin-top: 15px;
   margin-bottom: 25px;
}

#contact-hero-address p {
   margin-bottom: 20px;
   font-size: 14px;
   line-height: 22px;
}

#contact-hero-address {
   margin-bottom: 30px;
}

#contact-hero-address h3 {
   margin-bottom: 25px;
}

#contact-hero-form form {
   display: flex;
   flex-direction: column;
}

#contact-hero-form input, #contact-hero-form button, textarea {
   padding: 22px;
   border: 2px solid #d6d6d6;
   background-color: #f7f7f7;
   border-radius: 5px;
   margin-bottom: 30px;
   font: inherit;
   width: auto;
}

#contact-hero-form input, #contact-hero-form textarea {
   outline-color: #9a2018;
}

#contact-hero-form textarea {
   height: 250px;
}

#contact-hero-form button {
   padding: 12px 28px;
   background: #9a2018;
   color: #fff;
   border: none;
   transition: all 300ms ease-in;
   width: 150px;
   align-self: flex-end;
}

#contact-hero-form button::after {
   content: "Send";
}

#contact-hero-form button:hover {
   background-color: #626262;
   border-radius: 0;
   opacity: 20%;
}

#contact-hero-form form:valid button {
   width: 382px;
   cursor: pointer;
   animation: float 2s ease-out infinite;
}

@keyframes float {
   20% {transform: scale(1);}
   26% {transform: scale(1.04);}
   32% {transform: scale(1);}
   38% {transform: scale(1.04);}
   44% {transform: scale(1);}
}

#contact-hero-form form:valid button::after {
   content: "Send some love 💕";
}

#contact-hero-form form:valid button:hover {
   background-color: #9a2018;
   color: #CF6666;
   opacity: 100%;
   border-radius: 5px;
}

#contact-hero-form form:valid button:active::after {
   color: #fff;
   content: "Sending love 💕💕💕";
   border-radius: 5px;
}

.lightbox:target {
   display: block;
}

.lightbox {
   display: none;
   position: fixed;
   top: 0%;
   left: 50%;
   margin: 0 0 0 -208px;
   padding: 16px;
   width: 100%;
   height: 100%;
   z-index:1001;
   background-color: rgba(0, 0, 0, .8);
   background-blend-mode: color-burn;
}

.lightbox_close {
   position: relative;
   top: 20px;
   left: 90%;
   color: #fff;
   font-size: 40px;
   text-decoration: none;
   transition: color .2s linear;
}

.lightbox_close:hover {
   color: #9a2018;
}

.heart_svg {
   position: relative;
   top: 25vh;
   animation: float 2s ease-out infinite;
}

/* 8. ---Footer--- */

#footer-hero {
   background-image: url(../images/footer.jpg);
	background-repeat: no-repeat;
   color: #fff;
   font-size: 12px;
   margin-top: 40px;
   padding-bottom: 80px;
}

#footer-hero h3 {
   margin-top: 30px;
   font-size: 28px;
   margin-bottom: 16px;
}

#footer-privacy .line-seperator {
   margin-top: 0px;
}

#footer-contact-info h3 {
   font-size: 23px;
}

#footer-contact-info p {
   margin-bottom: 20px;
   line-height: 18px;
   font-size: 11px;
}

/* ROOMS HTML */

/* 
    CSS Guide 

    1.  Main Hero Image - Rooms info
    2.  Shared Amenities
    3.  Room Options
*/


/* 1. ---Main Hero Image - Rooms info--- */

#rooms-hero {
   background: url(../images/room-mobl-hero.jpg) no-repeat;
   height: 200px;
}


#rooms-include {
   font-size: 11px;
   background-color: #efefef;
   padding-top: 30px;
   padding-bottom: 30px;
}

#rooms-include-title {
   color: #9a2018;
   margin-bottom: 20px;
}

#rooms-include div {
   margin: 0 60px 20px;
}

#rooms-include div:hover {
   transform: scale(1.035);
}

.fa-solid {
   font-size: 42px;
   color: #9a2018;
   margin: 0 auto;
   float: left;
}

.fa-utensils {
   margin-left: 6px;
   margin-right: 10px;
   margin-bottom: 5px;
}

.fa-hot-tub-person {
   margin-right: 10px;
   margin-bottom: 10px;
}

#rooms-include span {
   color: #9a2018;
   font-weight: 600;
}


/* 2. --- Shared Amenities--- */
/* 3. ---Room Options--- */


#room-opt {
   background-color: #f4f4f4;
   padding-top: 35px;
   padding-bottom: 30px;
}

#room-opt h2 {
   font-size: 24px;
   margin-bottom: 20px;
}

#room-opt h2 span {
   color: #9a2018;
   font-size: 16px;
}

.room-items {
   margin-bottom: 16px;
}

.room-items summary {
   background: #e8e7e7;
   padding: 16px;
   font-size: 16px;
}

.faq-items li {
   padding: 8px 0;
   border-bottom: 1px solid #9a2018;
}   


.room-opt-imgs {
background-repeat: no-repeat;
margin-top: 20px;
padding-bottom: 20px;
}

.room-items p {
   font-size: 14px;
   margin-bottom: 20px;
}

.room-items a {
   color: #9a2018;
   animation: linksize 3s ease-out;
   font-size: 14px;
   font-weight: 600;
}

.room-items a:hover {
   font-size: 14.7px;
}

.room-items a::after {
   content: " ▶";
   font-size: 12px;
   animation: arrow-anima 1s ease-in-out infinite;
}

@keyframes arrow-anima {
   0% {padding-left: 0px;}
   50% {padding-left: 3px;}
   100% {padding-left: 0px;}
}

.room-items summary:hover {
   font-weight: 600;
   cursor: pointer;
}



/* CHATEAUS HTML */

/* 
    CSS Guide 

    1.  Main Hero Image - Chateaus pictures and info
    2.  Exclusive to Chateaus
    3.  webpage menu
*/


/* 1. ---Main Hero Image - Chateaus pictures and info--- */

#chateaus-hero {
   position: relative;
   display: block;
   margin: auto;
   text-align: center;
   width: 412px;
}

#chateaus-hero div {
   width: 412px;
   height: 340px;
}

#chateaus-img-box {
   background-color:#efefef;
   width: 100%;
   padding-bottom: 30px;
   height: 670px;
}

#chateaus-img-box input[type="radio"] {
   width: 176px;
   height: 145px;
   margin: 5px 10px;
   display: inline-block;
   border: none;
   outline: none;
   appearance: none;
   cursor: pointer;
   transition: all 0.2s ease-in-out;
   position: relative;
   top: 356px;
}

#chateaus-img-box input[type="radio"]:hover {
   transform: scale(1.04);
}

.chateaus-img-bg {
   position: absolute;
   top: 0;
}

#chateaus-img-01 {
   background-image: url(../images/chateau-mobl-mini01.jpg);
   background-size: cover;
}

#chateaus-img-02 {
   background-image: url(../images/chateau-mobl-mini02.jpg);
   background-size: cover;
}

#chateaus-img-03 {
   background-image: url(../images/chateau-mobl-mini03.jpg);
   background-size: cover;
}

#chateaus-img-04 {
   background-image: url(../images/chateau-mobl-mini04.jpg);
   background-size: cover;
}

#chateaus-img-01:checked ~ .chateaus-img-bg {
   background-image: url(../images/chateau-mobl01.jpg);
   background-size: cover;
}

#chateaus-img-02:checked ~ .chateaus-img-bg {
   background-image: url(../images/chateau-mobl02.jpg);
   background-size: cover;
}

#chateaus-img-03:checked ~ .chateaus-img-bg {
   background-image: url(../images/chateau-mobl03.jpg);
   background-size: cover;
}
#chateaus-img-04:checked ~ .chateaus-img-bg {
   background-image: url(../images/chateau-mobl04.jpg);
   background-size: cover;
}

#chateaus-summary p {
   font-size: 14px;
   line-height: 22px;
   margin-bottom: 16px;
}

#chateaus-summary p:last-child {
   margin-bottom: 30px;
}

#chantal-blog a {
   text-align: center;
   background-color: #9a2018;
   color: #fff;
   width: 266px;
   justify-self: center;
   padding: 10px;
   border-radius: 5px;
   margin: 10px 0 0;
}

#chantal-blog a:hover {
   transform: scale(1.03);
   width: 280px;
}

/* 2.  ---Exclusive to Chateaus--- */

.middle-menu-bg {
   background-color:#efefef;
   padding-bottom: 20px;
}

#middle-menu-nav h2 {
   color: #9a2018;
   padding: 0 0 30px;
   font-size: 16px;
}

/* 3.  ---webpage menu--- */